#contenido {
    margin-top:-50px;
}

#portada {
    height:350px;
    background-color: rgb(153, 255, 204);
    color: white;
}

#menuPantallas {
    background-color: rgb(153, 225, 204);
    margin:0px;   
    
}

#opciones {
       margin-left: 20px!important;
    margin-right: 20px !important;
}

#cabecera {

    margin-top: 100px;
}

.menu {

}

.grid {

}


#footer {
    margin-top:100px;
}
#footer .column {
    padding:20px;
}

